/* My Body */
body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* Header */
header {
    background-color: #3B3D49; /* The Color You See When You Close Your Eyes :). */
    width: 90%;
    height: 4em;
    border-radius: 1.5em;
    margin-top: 1em; /* A margin-top to Center the Header. */
    margin-left: 4em; /* A margin-left to Center the Header. */
    position: absolute; /* So That the Header is Placed on Whatever is Placed Pehind it. */
    z-index: 1;
}

header:hover{
    width: 100%;
    border-radius: 0;
    margin-left: 0;
    .divHeader{
        margin-right: 6.55em;
    }
    .divLogoHeader{
        margin-left: 5em;
    }
}

.divLogoHeader {
    width: 7em;
    height: 4em;
    margin-bottom: 1em; /* To put the Logo Wherever I Want. */
    margin-left: 1em; /* The same as before. */
    position: absolute; /* To Manipulate the List in a Better Way. */
}

#logoHeader {
    width: 7em;
    height: auto;
}

.divHeader {
    font-size: 1em;
    width: 25em;
    height: 3em;
    margin-top: 0.25em;
    margin-right: 2em;
    float: right;
}

#listHeader {
    list-style-type: none;
}

.itemHeader {
    margin-right: 2em;
    display: inline-flex;
}

.itemHeader:hover {
    font-size: 0.9em;
    cursor: pointer;
}

.linkHeader {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.decorativeDivHeader {
    background-color: #2A2B33; 
    width: 100%; 
    height: 6em;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    position: absolute;
    z-index: 0;
}
/* End Header */
